body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #ffffff;

}


/* =========================== Container ============================= */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* =========================== Header ============================= */
.header {
    padding-top: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__btn {
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid #ffffff;
    border-radius: 2px;

    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
}

.header__logo {
    position: relative;
    padding-left: 40px;
}

.logo__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.logo__title {
    font-family: "Raleway - Extra Bold";
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
}
.logo__title span {
    display: block;
    font-family: "Raleway - Extra Bold";
    font-weight: 400;
}

/* =========================== Navigation ============================= */
.nav {
    font-size: 15px;
}

.nav__link {
    display: inline-block;
    margin: 0 25px;

    color: #ffffff;
    text-decoration: none;
}

.nav__link:hover {
    color: #061e37;
}


/* =========================== Intro ============================= */
.intro {
    padding-top: 250px;
    width: 100%;
    height: 500px;
    

    background: url(../images/intro-bg.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
}

.intro-content {
    width: 50%;
}

.intro__title {
    
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 65px;
    
}

.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    margin: 22px 0 38px 0 ;

}

.intro__btn {
    display: inline-block;
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 30px;

    font-weight: 700;
    color: #061e37;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.intro__btn:hover {
    background-color: #061e37;
    color: #ffffff;
    font-weight: 400;
}

.btn--left {
    padding: 22px 42px;
}
.btn--right {
    padding: 22px 26px 22px 32px;
}

/* =========================== Section ============================= */

.section {
    padding: 100px 0;
}

.section__header {
    width: 100%;
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
}

.section__title {
    color: #061e37;
    font-size: 45px;
    font-weight: 400;
}

.section__subtitle {
    color: #b0bec5;
    font-size: 25px;
    font-weight: 400;
    margin: 14px 0 20px 0;
}

.section__text {
    color: #b0bec5;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 97px;
}

/* =========================== Tools ============================= */

.tools {
    display: flex;
    justify-content: space-between;
}

.tools__item {
    width: 344px;
    text-align: center;
}

.tools__title {
    color: #061e37;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 40px 0;
}

.tools__text {
    color: #78909c;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 78px;
}
.tools > div {
    display: inline-block;
}

.tools__btn {
    text-align: center;
    
}
.tools__btn a { 
    padding: 22px 23px 22px 28px;

    background-color: #1de9b6;
    border-radius: 5px;
    text-decoration: none;

    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;

}

.statistics {
  background-color: turquoise;
}
.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    position: relative;
}

.stat__icon {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translateY(-50%);
}
.stat__num {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    padding: 57px 114px 57px 200px;
}

